#cookie-btn {
    display: table;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #F5E9DA;
    padding: 20px 30px;
}

#cookie-btn img {width: 200%;}
#cookie-btn .cookie-txt {
    display: table-cell;
    vertical-align: middle;
}

#popup-cookie, #result-coookie {display: none;}
#popup-cookie, #result-cookie {
    width: 90%;
    max-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 2;
    padding: 40px;
}

#popup-cookie .header .close, #result-cookie .header .close {float: right;}
#popup-cookie .btn-wrapper, #result-cookie .btn-wrapper{ text-align: center;}

.backon {
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.close {cursor: pointer;}
.openPopup {cursor: pointer;}

.cookie-content{
    background-color: #E6D2BA;
    padding: 30px 20px;
}