body {overflow: hidden;}

#survey {
    height: 100vh;
    margin-top: 50px;
}

.test {
    height: 100vh;
}

.question_container {
    line-height: 1.3;
    padding-bottom: 30px;
}

.question_container .question {
    float: left;
    width: 80%;
    text-align: left;
}

.question_container .number {
    font-size: 20px;
    width: 15%;
    float: right;
    text-align: right;
}

.answer {
    font-size: 17px;
    line-height: 1.3;
    padding-bottom: 30px;
}

.answer div {
    padding-bottom: 15px;
}

.answer input {
    cursor: pointer;
}

.btn_wrap>button {
    width: 100%;
    padding: 10px 0;
}

.btn_sort button, .submit_btn {
    width: 50%;
    float: left;
}

.prev_btn, .next_btn, .submit_btn {
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #E75453;
    color: #E75453;
}