.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center !important;
    padding: 100px 20px 120px;
}

.gift-rcnd {
    margin-left: -55px;
    flex-direction: row;
    justify-content: space-between;
}

.gift-rcnd li {
    width: 32%;
    background-color: #d5b896;
    padding: 30px 0;
    border-radius: 10px;
}

#popup01 {display: none;}

#popup01 {
    width: 90%;
    max-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 2;
    padding: 40px;
}

#popup01 .header>h3 {float: left;}
#popup01 .header .close {float: right;}
.addthis_inline_share_toolbox_twfv {padding-top: 20px;}
.at-share-btn-elements {justify-content: center;}
.at-resp-share-element .at-share-btn {margin: 10px 15px 5px !important;}

.backon {
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}