* {word-break: keep-all !important;}

body {background-color: #E6D2BA !important;}

.wrap {
    text-align: center !important;
    padding: 100px 20px 200px; !important;
}

.txt-center{text-align: center;}


/*폰트 스타일*/
* {
    font-family: 'Noto Sans KR', sans-serif !important;
    letter-spacing: -0.05em !important;
}


p{margin: 0 !important;}


h1{
    font-size: 3rem !important;
    margin-bottom: 25px !important;
}

h2{
    font-size: 1.3rem !important;
    margin-bottom: 40px !important;
}

h3{
    font-size: 1.6rem !important;
    margin: 0 !important;
}

.result-title {
    font-size: 3rem;
    color: #E75453;
    margin-bottom: 40px;
}

.main-text {
    color: #2B0000;
    line-height:140%;
}

.red-font {color: #E75453;}

.footer-font{color:#FFA3A3;}


/*컨테이너 스타일*/

.intro-img {margin: 20px auto;}

.result-products{margin-bottom: 20px;}

.product{
    display:inline-block;
    height:130px;
    width:130px;
    border-radius:50%;
    background-color:#D5B896;
    margin: 0 10px 40px 0;
}

.result-content{
    padding: 0 55px;
    margin-bottom: 40px;
}

/*이미지 스타일*/

.intro-img img {
    max-width: 100%;
    height: auto;
}


/*버튼 스타일*/
.main-btn {
    width: 230px;
    height: 60px;
    margin: 30px auto;
    padding: 10px;
    display: block;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #E75453;
}

/* 푸터 스타일*/
footer {
    background-color: #E75453;
    flex: 0 0 auto;
}

footer .container .row .col-sm-3{margin: 30px 0;}

footer hr{
    background-color:#FF7676;
    margin: 0px;
    height: 2px;
}

.icons{
    text-align: center;
    display: inline;
    margin-left: 15px;
}

.icons i{
    color: white;
}

.icons a{
    margin-right: 8px;
    padding: 8px 5px;
    border-radius: 5px;
    background-color: #FF7676;
}