/*
기본 레이아웃
*/

body {background-color: #E6D2BA;}

.container {max-width: 600px;}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center !important;
    padding: 100px 20px 120px;
}

ul {list-style-type: none !important;}
li {list-style: none !important;}

/*
폰트 스타일
*/

* {
    font-family: 'Noto Sans KR', sans-serif !important;
    /*letter-spacing: -0.05em !important;*/
    word-break: keep-all;
}

p {margin: 0 !important;}

h2 {
    font-size: 1.6rem !important;
    line-height: 1.4;
}

h3 {
    font-size: 1.3rem !important;
    line-height: 1.4;
}

.red-font {color: #E75453;}
.lgRed-font{color:#FFA3A3;}
.black-font {color: #2B0000;}
.white-font {color: #fff;}

/*
버튼 스타일
*/

.main-btn {
    width: 100%;
    padding: 20px;
    display: block;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #E75453;
    transition: 0.3s;
    cursor:pointer;
}

.main-btn, .half-btn:hover {
    color: white;
    background-color: #E75453;
}

.main-btn, .half-btn:focus {outline: none;}

.half-btn { /* btn-wrapper로 감싸고 쓸것*/
    width: 49%;
    padding: 20px;
    display: block;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #E75453;
    transition: 0.3s;
    cursor:pointer;
}

.btn-wrapper {
    flex-direction: row;
    justify-content: space-between;
}

/*
푸터 스타일
*/

footer {
    background-color: #E75453;
    padding: 30px 20px;
}

.follow>p, .follow>div {float:right;}

footer hr{
    background-color:#FF7676;
    margin: 0px;
    height: 2px;
}

.icons{margin-left: 15px;}
.icons a{text-decoration: none;}

.icons i{
    color: white;
    background-color: #FF7676;
    padding: 5px 10px 10px;
    margin-right: 5px;
    border-radius: 5px;
    vertical-align: baseline;
}

/*
START section
*/

.intro-img {margin: 20px auto;}
.intro-img img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: auto;
}

/*
QUESTION section
*/

.q-num {float: left;}
.progress-txt {
    float: right;
    padding-top: 22px;
}

.question .progress {
    height: 0.3rem !important;
    background-color: #d5b896 !important;
    font-weight: bold;
}

.question .progress .progress-bar {background-color: #e75453 !important;}
.question>button {font-size: 1.2rem;}
