<div id="cookie-btn">
    <img src="../static/images/fortune-main.png">
    <span class="main-text">포춘쿠키 뽑기</span>
</div>
<div id="popup-cookie">
    <div class="header clearfix">
        <span class="close">&times;</span>
    </div>
    <div class="text-center">
        <div class="intro-img">
            <img src="../static/images/fortune-main.png">
        </div>
        <div class="main-text">
            <h5>
                우리 포춘쿠키도 뽑아 볼래요?
            </h5>
        </div>
        <button class="main-btn red-font" type="button">
            포춘쿠키 뽑아보기
        </button>
    </div>
</div>