<div id="cookie-btn" class="row">
    <div class="col-6">
        <img src="{{ url_for('static', filename='images/fortune-main.png') }}">
    </div>
    <div class="cookie-txt col-6">
        <h3 class="main-text">온김에 포춘쿠기 하나 뽑고 가세요</h3>
    </div>
</div>
<div id="popup-cookie">
    <div class="header clearfix">
        <span class="close">&times;</span>
    </div>
    <div class="text-center">
        <div class="intro-img">
            <img src="{{ url_for('static', filename='images/fortune-main.png') }}">
        </div>
        <div class="main-text mb-4">
            <h5>
                무엇이 나올까요?
            </h5>
        </div>
        <button id="get-cookie" class="main-btn red-font" type="button">
            포춘쿠키 뽑아보기
        </button>
    </div>
</div>
<div id="result-cookie" style="display: none">
    <div class="header clearfix">
        <span class="close">&times;</span>
    </div>
    <div class="text-center">
        <div class="intro-img">
            <img src="{{ url_for('static', filename='images/fortune-conc.png') }}">
        </div>
        <div id="cookie-content" class="main-text mb-4">
            <h5>
                포춘쿠키 내용물
            </h5>
        </div>
        <div class="btn-wrapper row">
            <button class="half-btn red-font" type="button" onClick="history.go(-1)">다시하기</button>
            <button class="half-btn red-font" type="button" onClick="to_main()">메인으로</button>
        </div>
    </div>
</div>