<div id="cookie-btn" class="row">
    <div class="col-6">
        <img src="{{ url_for('static', filename='images/fortune-main.png') }}">
    </div>
    <div class="cookie-txt col-6">
        <h3 class="main-text">온김에 포춘쿠기 하나 뽑고 가세요</h3>
    </div>
</div>
<div id="popup-cookie">
    <div class="header clearfix">
        <span class="close">&times;</span>
    </div>
    <div class="text-center">
        <div class="intro-img">
            <img src="{{ url_for('static', filename='images/fortune-main.png') }}">
        </div>
        <div class="main-text mb-4">
            <h5>
                우리 포춘쿠키도 뽑아 볼래요?
            </h5>
        </div>
        <button id="get-cookie" class="main-btn red-font" type="button">
            포춘쿠키 뽑아보기
        </button>
    </div>
</div>
<div id="result-cookie" style="display: none">
    <div class="header clearfix">
        <span class="close">&times;</span>
    </div>
    <div class="text-center">
        <div class="intro-img">
            <img src="{{ url_for('static', filename='images/fortune-main.png') }}">
        </div>
        <div class="main-text mb-4">
            <h5>
                결과창
            </h5>
        </div>
        <button class="main-btn red-font" type="button">
            포춘쿠키 뽑아보기
        </button>
    </div>
</div>