<div class="container">
    <div class="row">
        <div class="col-md-3">
            <span style="color:white;">Reddev</span>
        </div>
        <div class="col-lg-6">
        </div>
        <div class="col-md-3 footer-font">
            <span style="float: left">Follow us</span>
            <div class="icons">
                <a href="#">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>
        </div>
    </div>
    <div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-3 footer-font">
            ⓒ 2021, Reddev.
        </div>
        <div class="col-lg-6">
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>