<!doctype html>
<html lang="ko">
<head>
    <!--head.html에 공통 내용 삽입-->
    {% include 'head.html' %}

    <!-- OG 태그 -->
    <meta property="og:title" content="선물별 성격유형 테스트"/>
    <meta property="og:description" content="15일 메이킹챌린지 6기 - 1조 뿕은악마"/>
    <meta property="og:image" content="{{ url_for('static', filename='images/gift-og.png') }}"/>

    <title>선물별 성격유형 테스트</title>
</head>
<body>
<div class="container">
    <div class="wrap">
        <div class="start">
            <h1 class="red-font mb-3">선물별<br>성격유형 테스트</h1>
            <h3 class="black-font mb-5">며칠 뒤면 나의 생일이다.<br>생일파티는 어떻게 준비하면 좋을까?</h3>
            <div class="intro-img mb-5">
                <img src="{{ url_for('static', filename='images/gift-main.png') }}">
            </div>
            <button class="main-btn red-font" type="button" onclick='start();'>유형 테스트 시작하기</button>
        </div>

        <div class="question" style="display: none;">
            <!--question.html 결과 페이지-->
            {% include 'question.html' %}
        </div>

        <!--mbti_script.html 분리-->
        {% include 'mbti_script.html' %}

    </div>
</div>
<footer>
    <!--footer.html에 공통 내용 삽입-->
    {% include 'footer.html' %}
</footer>
</body>
</html>