<!doctype html>
<html lang="ko">
<head>
    <!--head.html에 공통 내용 삽입-->
    {% include 'head.html' %}

    <!-- OG 태그 -->
    <meta property="og:title" content="선물별 성격유형 테스트"/>
    <meta property="og:description" content="15일 메이킹챌린지 6기 - 1조 뿕은악마"/>
    <meta property="og:image" content="{{ url_for('static', filename='images/gift-og.png') }}"/>

    <title>선물별 성격유형 테스트</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-md-3">
            <div class="wrap">
                <h1 class="red-font">
                    선물별
                    <br>
                    성격유형 테스트
                </h1>
                <h2 class="main-text">
                    며칠 뒤면 나의 생일이다.
                    <br>
                    생일파티는 어떻게 준비하면 좋을까?
                </h2>
                <div class="intro-img">
                    <img src="../static/images/gift-main.png">
                </div>
                <button class="btn btn-outline-danger" type="button"
                        onclick="window.location.href='{{ url_for( 'quiz' ) }}';">
                    <h3>
                        유형 테스트 시작하기
                    </h3>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
<footer>
    <!--footer.html에 공통 내용 삽입-->
    {% include 'footer.html' %}
</footer>
<script>includeHTML();</script>
</body>
</html>